@font-face {
    font-family: Inter;
    /*noinspection CssUnknownTarget*/
    src: url("/Inter.ttf");
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    width: 100%;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body, #root, html {
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}

.animate__animated.animate__50ms {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.animate__animated.animate__100ms {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.animate__animated.animate__150ms {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.animate__animated.animate__250ms {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.animate__animated.animate__500ms {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.animate__animated.animate__750ms {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.animate__animated.animate__1000ms {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animate__animated.animate__1250ms {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.animate__animated.animate__1500ms {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.animate__animated.animate__1750ms {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.animate__animated.animate__2000ms {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.animate__animated.animate__2250ms {
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.animate__animated.animate__2500ms {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.animate__animated.animate__2750ms {
    -webkit-animation-delay: 2.75s;
    animation-delay: 2.75s;
}

.animate__animated.animate__3000ms {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.animate__animated.animate__duration_50ms {
    --animate-duration: 0.05s;
}

.animate__animated.animate__duration_100ms {
    --animate-duration: 0.1s;
}

.animate__animated.animate__duration_150ms {
    --animate-duration: 0.15s;
}

.animate__animated.animate__duration_250ms {
    --animate-duration: 0.25s;
}

.animate__animated.animate__duration_500ms {
    --animate-duration: 0.5s;
}

.animate__animated.animate__duration_750ms {
    --animate-duration: 0.75s;
}

.animate__animated.animate__duration_1000ms {
    --animate-duration: 1s;
}

.animate__animated.animate__duration_1250ms {
    --animate-duration: 1.25s;
}

.animate__animated.animate__duration_1500ms {
    --animate-duration: 1.5s;
}

.animate__animated.animate__duration_1750ms {
    --animate-duration: 1.75s;
}

.animate__animated.animate__duration_2000ms {
    --animate-duration: 2s;
}

.animate__animated.animate__duration_2500ms {
    --animate-duration: 2.5s;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-delay: unset !important;
        animation-duration: 0s !important;
        transition: all 0s !important;
    }
}
